
    <div ng-show="dossierCourant != null &amp;&amp; emailSelectionne == null">
        <div class="spacer input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <input type="text" id="query" ng-model="$parent.query" class="form-control" placeholder="Rechercher un e-mail...">
            <div class="input-group-btn">
                <button class="btn btn-default" ng-click="razSearch()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <table class="table table-striped table-hover spacer">
            <thead>
                <tr>
                    <th class="col-md-2">
                        <a ng-click="triEmails('from')">De</a>
                        <span class="hspacer" ng-class="cssChevronsTri('from')"></span>
                    </th>
                    <th class="col-md-2">
                        <a ng-click="triEmails('to')">&Agrave;</a>
                        <span class="hspacer" ng-class="cssChevronsTri('to')"></span>
                    </th>
                    <th class="col-md-4">
                        <a ng-click="triEmails('subject')">Objet</a>
                        <span class="hspacer" ng-class="cssChevronsTri('subject')"></span>
                    </th>
                    <th class="col-md-2">
                        <a ng-click="triEmails('date')">Date</a>
                        <span class="hspacer" ng-class="cssChevronsTri('date')"></span>
                    </th>
                    <th class="col-md-2">
                        <select ng-model="champTri" class="form-control">
                            <option value="" selected disabled hidden>Order By</option>
                            <option value="+from">De</option>
                            <option value="+to">&Agrave;</option>
                            <option value="+subject">Objet</option>
                            <option value="-date">Date</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="email in emailsFilter = (dossierCourant.emails | filter:query) | orderBy:champTri:triDescendant" class="clickable" ng-click="versEmail(dossierCourant, email)">
                    <td ng-bind-html="email.from | highlightingSearch:query"></td>
                    <td ng-bind-html="email.to | highlightingSearch:query"></td>
                    <td ng-bind-html="email.subject | highlightingSearch:query"></td>
                    <td colspan="2">{{email.date | date:'dd/MM/yyyy HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
    
        <div class="alert alert-info">
            Le dossier contient {{ emailsFilter.length }} mails.
        </div>
    </div>
    
    <div ng-show="emailSelectionne != null" class="spacer">
        <div class="well">
            <h1>{{emailSelectionne.subject}}</h1>
            <p><label>De: <span>{{emailSelectionne.from}}</span></label></p>
            <p><label>&Agrave;: <span>{{emailSelectionne.to}}</span></label></p>
            <p><label>Date: <span>{{emailSelectionne.date | date:'dd/MM/yyyy HH:mm'}}</span></label></p>
        </div>
        <p ng-bind-html="emailSelectionne.content"></p>
    </div>