<!-- <form id="formNewEmail" class="spacer" name="$parent.formNewEmail">
    <div class="form-group">
      <label for="email">destinataires</label>
      <input type="email" class="form-control" id="email" placeholder="à" ng-model="newEmail.to" required>
    </div>
    <div class="form-group">
        <label for="objet">objet</label>
        <input type="text" class="form-control" id="objet" placeholder="objet" ng-model="newEmail.subject">
      </div>
    <div class="form-group">
        <label for="message">message</label>
        <textarea ui-tinymce="optionsTinyMce" class="form-control" id="message" rows="5" ng-model="newEmail.content"></textarea>
    </div>
    <div class="spacer">
      <pre>{{newEmail | json}}</pre>
    </div>
    <mail-content email="newEmail"></mail-content>
    <div class="spacer text-center">
        <button type="submit" class="btn btn-success" ng-click="clickSendMail()">Envoyer</button>
        <span class="hspacer"></span>
        <button class="btn btn-warning" ng-disabled="formNewEmail.$pristine" ng-click="razMail()">Effacer la saisie</button>
    </div>
</form> -->
<new-mail envoi-mail="envoiMail(newEmail)"></new-mail>