a {
    cursor: pointer;
}

.spacer {
    margin-top: 20px;
}

.hspacer {
    margin-left: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #428BCA;
    color: #fff;
}

.nav>li>a.btn-info:hover, .nav>li>a.btn-info:focus {
    background-color: #2aabd2;
}

.clickable {
    cursor: pointer;
}

.form-group > label{
    text-transform: capitalize;
}

.highlightingSearch {
    background-color: #FFD42A;
}

input.ng-invalid {
    background-color: rgba(255, 0, 0, 0.5);
}
