a {
    cursor: pointer;
}

.spacer {
    margin-top: 20px;
}

.hspacer {
    margin-left: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #428BCA;
    color: #fff;
}

.nav>li>a.btn-info:hover, .nav>li>a.btn-info:focus {
    background-color: #2aabd2;
}

.clickable {
    cursor: pointer;
}

.form-group > label{
    text-transform: capitalize;
}

.highlightingSearch {
    background-color: #FFD42A;
}

input.ng-invalid {
    background-color: rgba(255, 0, 0, 0.5);
}

.preloader {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 999;
}

.msgPreloader {
    background-image: url("../img/cadrePopup.png");
    color: white;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 300px;
    height: 191px;
    position: absolute;
}

.msgPreloader h3 {
    left: 30px;
    width: 240px;
    text-align: center;
    position: absolute;
}

.msgPreloader img {
    left: 125px;
    top: 95px;
    width: 50px;
    height: 50px;
    position: absolute;
}
